{% extends 'generator/base.html' %}

{% block imports %}
    {% load static %}
    <script src="{% static 'generator/options.js' %}"></script>
    <link rel="stylesheet" href="{% static 'generator/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
      <h1>Chrono Trigger Jets of Time Randomizer</h1>
      <h4>Version 3.3.0 Beta</h4>

      <!-- Preset buttons -->
      <h2 class="pt-4">Presets</h2>
      <div class="border border-primary rounded p-2">
        <button class="btn btn-primary mt-1 mb-1" type="button" onclick="resetAll()">Reset All</button>
        <button class="btn btn-primary mt-1 mb-1" type="button" onclick="presetRace()">Race</button>
        <button class="btn btn-primary mt-1 mb-1" type="button" onclick="presetNewPlayer()">New Player</button>
        <button class="btn btn-primary mt-1 mb-1" type="button" onclick="presetLostWorlds()">Lost Worlds</button>
        <button class="btn btn-primary mt-1 mb-1" type="button" onclick="presetHard()">Hard</button>
        <button class="btn btn-primary mt-1 mb-1" type="button" onclick="presetLegacyOfCyrus()">Legacy of Cyrus</button>
      </div> <!-- End preset buttons -->
      
      <form name="game_options_form" id="game_options_form" action="{% url 'generator:generate' %}" method="post" enctype="multipart/form-data" onsubmit="return prepareForm()">
        {% csrf_token %}

        <h2 class="mt-3"> Select Game Options (<a href="https://wiki.ctjot.com/doku.php?id=flags" target="_blank">help</a>)</h2>

        <ul class="nav nav-tabs">
          <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#options-general">General</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#options-tabs">Tabs</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#options-rc" id="id_char_rando_nav">Character Rando</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#options-ro" id="id_boss_rando_nav">Boss Rando</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#options-qol">Quality of Life</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#options-extra">Extra</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#options-mystery" id="id_mystery_seed_nav">Mystery</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#options-bucket" id="id_bucket_list_nav">Bucket</a></li>
        </ul>

        <div class="tab-content">
          <!-- General Options Tab -->
          <div class="tab-pane fade show active" id="options-general" >
            {% include "generator/options/general_tab.html" %}
          </div>

          <!-- Tabs options tab -->
          <div class="tab-pane fade" id="options-tabs">
            {% include "generator/options/tabs_tab.html" %}
          </div>

          <!-- Character Rando options tab -->
          <div class="tab-pane fade" id="options-rc">
            {% include "generator/options/char_rando_tab.html" %}
          </div>

          <!-- ro options tab -->
          <div class="tab-pane fade" id="options-ro">
            {% include "generator/options/boss_rando_tab.html" %}
          </div>

          <!-- qol options tab -->
          <div class="tab-pane fade" id="options-qol">
            {% include "generator/options/quality_of_life_tab.html" %}
          </div>

          <!-- Extra options tab -->
          <div class="tab-pane fade" id="options-extra">
            {% include "generator/options/extra_tab.html" %}
          </div>

          <!-- Mystery options tab -->
          <div class="tab-pane fade" id="options-mystery">
            {% include "generator/options/mystery_tab.html" %}
          </div>
          
          <!-- Bucket options tab -->
          <div class="tab-pane fade" id="options-bucket">
            {% include "generator/options/bucket_tab.html" %}
          </div>
        </div> <!-- Tab content div -->

        <h2 class="mt-3">Generate Game</h2>
        <div class="border border-primary rounded p-2 mb-3">
          <div class="form-group">
            <label for="{{form.seed.id_for_label}}">Seed (optional):</label>
            <input class="form-control" name="{{form.seed.name}}" id="{{form.seed.id_for_label}}" type="text">
          </div>

          <div class="form-group">
            <input type="checkbox" name="{{form.spoiler_log.name}}" id="{{form.spoiler_log.id_for_label}}" data-toggle="toggle" checked>
            <label for="{{form.spoiler_log.id_for_label}}">Spoiler Log</label>
          </div>

          <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Generate Seed">
          </div>
        </div>

      </form> <!-- End game options form -->
    </div> <!-- End main container div -->
{% endblock %}
