{% extends 'generator/base.html' %}

{% block title %}Seed {{ share_id }} - {{ block.super }}{% endblock %}

{% block imports %}
    {{ cosmetics | json_script:"cosmetics-options" }}
    {% load static %}
    <script src="{% static 'generator/seed.js' %}{{ js_debug_query }}"></script>
    <link rel="stylesheet" href="{% static 'generator/background_select.css' %}">
    {% if is_permalink %}
      <meta property="og:title" content="Seed {{ share_id }} - Chrono Trigger: Jets of Time Randomizer" />
      <meta property="og:description" content="{{ share_info }}" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="{{ base_uri }}{% url 'generator:share' share_id %}" />
      <meta property="og:image" content="{{ base_uri }}{% url 'generator:seedimg' share_id %}" />
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
      <div class="pt-2 pb-2">
        <h1>Download Seed</h1>
        <img style="float: right" src="{{ base_uri }}{% url 'generator:seedimg' share_id %}" width=200 height=200 />
	<h3 class="pb-2"><a id="seed_share" target="_blank" href="{% url 'generator:share' share_id %}">Seed share link</a> &middot;&middot;&middot; <a id="seed_practice" target="_blank" href="{% url 'generator:practice' share_id %}">(create practice seed)</a></h3>
        <pre>
{{ share_info }}
        </pre>
        <form name="seed_form" id="seed_form" action="{% url 'generator:seed' %}" target="_blank" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <!-- Cosmetic options -->
          {% include "generator/seed/cosmetic_options.html" %}

          <!-- ROM input -->
          <div class="form-group pt-2">
            <label class="form-label" for="{{form.rom_file.id_for_label}}">Chrono Trigger ROM</label>
            <input type="file" class="form-control" id="{{form.rom_file.id_for_label}}" name="{{form.rom_file.name}}"/>
            <input type="hidden" name="{{form.share_id.name}}" id="{{form.share_id.id_for_label}}" value="{{share_id}}">
          </div>
          <button class="btn btn-primary" type="submit" >Download Seed</button>
        </form>
	
        {% if not is_race_seed %}
        {% include "generator/seed/spoiler_log_section.html" %}
        {% endif %}
      </div>
    </div>

{% endblock %}
