{% extends 'generator/base.html' %}

{% block imports %}
    {% load static %}
    <script src="{% static 'generator/seed.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="pt-2 pb-2">
        <h1>Download Seed</h1>
        <h3 class="pb-2"><a target="_blank" href="{% url 'generator:share' share_id %}">Seed share link</a></h3>
        <form name="seed_form" id="seed_form" action="{% url 'generator:seed' %}" target="_blank" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label class="form-label" for="{{form.rom_file.id_for_label}}">Chrono Trigger ROM</label>
            <input type="file" class="form-control" id="{{form.rom_file.id_for_label}}" name="{{form.rom_file.name}}"/>
            <input type="hidden" name="{{form.share_id.name}}" id="{{form.share_id.id_for_label}}" value="{{share_id}}">
          </div>
          <button class="btn btn-primary" type="submit" >Download Seed</button>
        </form>

        {% if not is_race_seed %}
        <div class="pt-2">
          <input type="button" class="btn btn-primary" id="spoiler_log_button" value="Show Spoiler Log" data-toggle="collapse" data-target="#spoiler_section" aria-expanded="false" aria-controls="spoiler_section">
          <button class="btn btn-primary" type="button" onclick="window.open('/spoiler_log/{{share_id}}')">Download Spoiler Log</button>
        </div>

        <div class="tab-content collapse border border-primary rounded p-3" id="spoiler_section">

          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#spoiler_keys">Key Items</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#spoiler_chars">Characters</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#spoiler_bosses">Bosses</a></li>
          </ul>

          <!-- Key Items tab -->
          <div class="tab-pane fade show active" id="spoiler_keys">
            <table class="table" id="key_item_table">
              <tr>
                <th style="width:50%;">Location</th>
                <th>Key Item</th>
              </tr>
              {% for entry in spoiler_log.key_items %}
                <tr>
                  <td>{{entry.location}}</td>
                  <td>{{entry.key}}</td>
                </tr>
              {% endfor %}
            </table>
          </div>

          <!-- Characters tab -->
          <div class="tab-pane fade show" id="spoiler_chars">
            <table class="table" id="character_table">
              <tr>
                <th style="width:33%;">Location</th>
                <th style="width:33%;">Character</th>
                <th>Becomes</th>
              </tr>
              {% for entry in spoiler_log.characters %}
                <tr>
                  <td>{{entry.location}}</td>
                  <td>{{entry.character}}</td>
                  <td>{{entry.reassign}}</td>
                </tr>
              {% endfor %}
            </table>
          </div>

          <!-- Bosses tab -->
          <div class="tab-pane fade show" id="spoiler_bosses">
            <table class="table" id="boss_table">
              <tr>
                <th style="width:50%;">Location</th>
                <th>Boss</th>
              </tr>
              {% for entry in spoiler_log.bosses %}
                <tr>
                  <td>{{entry.location}}</td>
                  <td>{{entry.boss}}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div> <!-- End spoiler log div -->
        {% endif %}
      </div>
    </div>

{% endblock %}