
            <div class="border border-primary rounded p-2 mb-3">
              <div class="form-group form-check pl-0">
                <input type="checkbox" name="{{form.legacy_boss_placement.name}}" id="{{form.legacy_boss_placement.id_for_label}}"  data-toggle="toggle">
                <label for="{{form.legacy_boss_placement.id_for_label}}">Legacy Boss Placement</label>
              </div>
              <div class="form-group form-check pl-0">
                <input type="checkbox" name="{{form.boss_spot_hp.name}}" id="{{form.boss_spot_hp.id_for_label}}"  data-toggle="toggle">
                <label for="{{form.boss_spot_hp.id_for_label}}">Boss Spot HPs</label>
              </div>
            </div>
