            <div class="border border-primary rounded p-2 mb-3">
              <datalist id="datalistOptions">
                {% for alias in obhint_map.keys %}
                <option value="{{ alias }}">
                {% endfor %}
              </datalist>
              <div class="form-row mb-2">
                <div class="col-3">
                  <label for="{{form.bucket_num_objs.id_for_label}}"> Number of Objectives</label>
                </div>
                <div class="col">
                  <input type="range" name="{{form.bucket_num_objs.name}}" id="{{form.bucket_num_objs.id_for_label}}" min="1" max="8">
                  <input type="text" id="{{form.bucket_num_objs.id_for_label}}_text" form="none" size="1">
                </div>
                <div class="w-100"></div>
                <div class="col-3">
                  <label for="{{form.bucket_num_objs_req.id_for_label}}"> Number Required</label>
                </div>
                <div class="col">
                  <input type="range" name="{{form.bucket_num_objs_req.name}}" id="{{form.bucket_num_objs_req.id_for_label}}" min="1" max="8">
                  <input type="text" id="{{form.bucket_num_objs_req.id_for_label}}_text" form="none" size="1">
                </div>
              </div>
              {% with '1 2 3 4 5 6 7 8' as obj_enum %}
              {% for i in obj_enum.split %}
              <div id="objError{{i}}" class="bg-danger"></div>
              <div class="mb-1">
                <input type="hidden" name="bucket_objective{{i}}" id="id_bucket_objective{{i}}">
                <label class="mr-2" for="id_obhint_entry{{i}}">Objective {{i}}</label>
                <input list="datalistOptions" id="id_obhint_entry{{i}}" name="obhint_entry{{i}}" form=none size=50 placeholder="Start typing or hit the down arrow for presets" {% if i|add:"0" > 5 %} disabled{% endif %}>
              </div>
              {% endfor %}
              {% endwith %}
              <div class="form-group form-check pl-0">
                <input type="checkbox" name="{{form.bucket_disable_go_modes.name}}" id="{{form.bucket_disable_go_modes.id_for_label}}"  data-toggle="toggle">
                <label for="{{form.bucket_disable_go_modes.id_for_label}}">Disable Other Go Modes</label>
              </div>
              <div class="form-group form-check pl-0">
                <input type="checkbox" name="{{form.bucket_obj_win_game.name}}" id="{{form.bucket_obj_win_game.id_for_label}}"  data-toggle="toggle">
                <label for="{{form.bucket_obj_win_game.id_for_label}}">Objectives Auto-Win</label>
              </div>
            </div>
