
            <div class="tab-content border border-primary rounded p-2 mb-3">

              <div class="form-group form-check pt-3 pl-0">
                <input type="checkbox" name="{{form.duplicate_characters.name}}" id="{{form.duplicate_characters.id_for_label}}" data-toggle="toggle" onchange="disableDuplicateTechs()" />
                <label for="{{form.duplicate_characters.id_for_label}}">Duplicate Characters</label>
              </div>

              <div class="form-group form-check pt-3 pl-0">
                <input type="checkbox" name="{{form.duplicate_duals.name}}" id="{{form.duplicate_duals.id_for_label}}" data-toggle="toggle" />
                <label for="{{form.duplicate_duals.id_for_label}}">Duplicate Dual Techs</label>
              </div>

              <input type="button" class="btn btn-outline-primary" id="char_rando_assignments_button" value="Limit Character Assignments" data-toggle="collapse" data-target="#character_selection_matrix" aria-expanded="false" aria-controls="character_selection_matrix">

              <div class="border border-secondary rounded p-2 mb-3 mt-3 collapse" id="character_selection_matrix">
                <input type="hidden" name="{{form.char_rando_assignments.name}}" id="{{form.char_rando_assignments.id_for_label}}">
                <p>Select which character identities can be assigned which character models:</p>
                <div id="character_selection_error" class="errorText"></div>
                <table>
                  <tr>
                    <th></th>
                    <th>Crono</th>
                    <th>Marle</th>
                    <th>Lucca</th>
                    <th>Robo</th>
                    <th>Frog</th>
                    <th>Ayla</th>
                    <th>Magus</th>
                  </tr>
  
                  {% with 'Crono Marle Lucca Robo Frog Ayla Magus' as chars %}
                    {% for character in chars.split %}
                      <tr>
                        <td>{{character}} can be:</td>
                        <td><input type="checkbox" id="rc_{{character}}0" form="none" checked /></td>
                        <td><input type="checkbox" id="rc_{{character}}1" form="none" checked /></td>
                        <td><input type="checkbox" id="rc_{{character}}2" form="none" checked /></td>
                        <td><input type="checkbox" id="rc_{{character}}3" form="none" checked /></td>
                        <td><input type="checkbox" id="rc_{{character}}4" form="none" checked /></td>
                        <td><input type="checkbox" id="rc_{{character}}5" form="none" checked /></td>
                        <td><input type="checkbox" id="rc_{{character}}6" form="none" checked /></td>
                      </tr>
                   {% endfor %}
                {% endwith %}
                </table>
                <div class="pt-2">
                  <input class="btn btn-outline-primary btn-sm" type="button" form="none" value="Check All" onclick="rcCheckAll()">
                  <input class="btn btn-outline-primary btn-sm" type="button" form="none" value="Uncheck All" onclick="rcUncheckAll()">
                </div>
              </div>

            </div>
