
            <div class="border border-primary rounded p-2 mb-3">
              <div class="form-group form-check pl-0">
                <input type="checkbox" name="{{form.use_antilife.name}}" id="{{form.use_antilife.id_for_label}}"  data-toggle="toggle">
                <label for="{{form.use_antilife.id_for_label}}">Use Anti-Life</label>
              </div>
              <div class="form-group form-check pl-0">
                <input type="checkbox" name="{{form.tackle_effects.name}}" id="{{form.tackle_effects.id_for_label}}"  data-toggle="toggle">
                <label for="{{form.tackle_effects.id_for_label}}">Tackle On-Hit Effects</label>
              </div>
              <div class="form-group form-check pl-0">
                <input type="checkbox" name="{{form.starters_sufficient.name}}" id="{{form.starters_sufficient.id_for_label}}"  data-toggle="toggle">
                <label for="{{form.starters_sufficient.id_for_label}}">Starters Sufficient</label>
              </div>
              <div class="form-group form-check pl-0">
                <input type="checkbox" name="{{form.bucket_list.name}}" id="{{form.bucket_list.id_for_label}}"  data-toggle="toggle">
                <label for="{{form.bucket_list.id_for_label}}">Bucket List</label>
              </div>
            </div>
