      <div class="border border-primary rounded p-2">
        <button class="btn btn-primary mt-1 mb-1" type="button" onclick="resetAll()">Reset All</button>
        <button class="btn btn-primary mt-1 mb-1" type="button" onclick="presetRace()">Race</button>
        <button class="btn btn-primary mt-1 mb-1" type="button" onclick="presetNewPlayer()">New Player</button>
        <button class="btn btn-primary mt-1 mb-1" type="button" onclick="presetLostWorlds()">Lost Worlds</button>
        <button class="btn btn-primary mt-1 mb-1" type="button" onclick="presetHard()">Hard</button>
        <button class="btn btn-primary mt-1 mb-1" type="button" onclick="presetLegacyOfCyrus()">Legacy of Cyrus</button>
      </div>
