
            <div class="border border-primary rounded p-2 mb-3">
              <div class="form-group form-check pl-0">
                <input type="checkbox" name="{{form.sightscope_always_on.name}}" id="{{form.sightscope_always_on.id_for_label}}" data-toggle="toggle">
                <label for="{{form.sightscope_always_on.id_for_label}}">Sightscope Always On</label>
              </div>
              <div class="form-group form-check pl-0">
                <input type="checkbox" name="{{form.boss_sightscope.name}}" id="{{form.boss_sightscope.id_for_label}}" data-toggle="toggle">
                <label for="{{form.boss_sightscope.id_for_label}}">Boss Sightscope</label>
              </div>
              <div class="form-group form-check pl-0">
                <input type="checkbox" name="{{form.fast_tabs.name}}" id="{{form.fast_tabs.id_for_label}}" data-toggle="toggle">
                <label for="{{form.fast_tabs.id_for_label}}">Fast Tabs</label>
              </div>
              <div class="form-group form-check pl-0">
                <input type="checkbox" name="{{form.free_menu_glitch.name}}" id="{{form.free_menu_glitch.id_for_label}}" data-toggle="toggle">
                <label for="{{form.free_menu_glitch.id_for_label}}">Free Menu Glitch</label>
              </div>
            </div>
