
            <div class="border border-primary rounded p-2 mb-3">
              <div class="form-group">
                <label for="{{form.power_tab_min.id_for_label}}" class="form-label mr-2">Power Tab Min:</label>
                <input type="range" class="form-range" name="{{form.power_tab_min.name}}" id="{{form.power_tab_min.id_for_label}}" min="1" max="9" value="2" oninput="updateAllTabValues()" onchange="updateAllTabValues()" >
                <input type="text" id="power_tab_min_text" form="none" size="1" value="2" readonly>
              </div>
              <div class="form-group">
                <label for="{{form.power_tab_max.id_for_label}}" class="form-label mr-2">Power Tab Max:</label>
                <input type="range" class="form-range" name="{{form.power_tab_max.name}}" id="{{form.power_tab_max.id_for_label}}" min="1" max="9" value="4" oninput="updateAllTabValues(true)" onchange="updateAllTabValues(true)" >
                <input type="text" id="power_tab_max_text" form="none" size="1" value="4" readonly>
              </div>
              <div class="form-group">
                <label for="{{form.magic_tab_min.id_for_label}}" class="form-label mr-2">Magic Tab Min:</label>
                <input type="range" class="form-range" name="{{form.magic_tab_min.name}}" id="{{form.magic_tab_min.id_for_label}}" min="1" max="9" value="1" oninput="updateAllTabValues()" onchange="updateAllTabValues()" >
                <input type="text" id="magic_tab_min_text" form="none" size="1" value="1" readonly>
              </div>
              <div class="form-group">
                <label for="{{form.magic_tab_max.id_for_label}}" class="form-label mr-2">Magic Tab Max:</label>
                <input type="range" class="form-range" name="{{form.magic_tab_max.name}}" id="{{form.magic_tab_max.id_for_label}}" min="1" max="9" value="3" oninput="updateAllTabValues(true)" onchange="updateAllTabValues(true)" >
                <input type="text" id="magic_tab_max_text" form="none" size="1" value="3" readonly>
              </div>
              <div class="form-group">
                <label for="{{form.speed_tab_min.id_for_label}}" class="form-label mr-2">Speed Tab Min:</label>
                <input type="range" class="form-range" name="{{form.speed_tab_min.name}}" id="{{form.speed_tab_min.id_for_label}}" min="1" max="9" value="1" oninput="updateAllTabValues()" onchange="updateAllTabValues()" >
                <input type="text" id="speed_tab_min_text" form="none" size="1" value="1" readonly>
              </div>
              <div class="form-group">
                <label for="{{form.speed_tab_max.id_for_label}}" class="form-label mr-2">Speed Tab Max:</label>
                <input type="range" class="form-range" name="{{form.speed_tab_max.name}}" id="{{form.speed_tab_max.id_for_label}}" min="1" max="9" value="1" oninput="updateAllTabValues(true)" onchange="updateAllTabValues(true)" >
                <input type="text" id="speed_tab_max_text" form="none" size="1" value="1" readonly>
              </div>
            </div>
