
            <div class="border border-primary rounded p-2 mb-3">
              <div class="form-group">
                <label for="{{form.power_tab_min.id_for_label}}" class="form-label mr-2">Power Tab Min:</label>
                <input type="range" class="form-range" name="{{form.power_tab_min.name}}" id="{{form.power_tab_min.id_for_label}}" min="1" max="9">
                <input type="text" id="{{form.power_tab_min.id_for_label}}_text" form="none" size="1">
              </div>
              <div class="form-group">
                <label for="{{form.power_tab_max.id_for_label}}" class="form-label mr-2">Power Tab Max:</label>
                <input type="range" class="form-range" name="{{form.power_tab_max.name}}" id="{{form.power_tab_max.id_for_label}}" min="1" max="9">
                <input type="text" id="{{form.power_tab_max.id_for_label}}_text" form="none" size="1">
              </div>
              <div class="form-group">
                <label for="{{form.magic_tab_min.id_for_label}}" class="form-label mr-2">Magic Tab Min:</label>
                <input type="range" class="form-range" name="{{form.magic_tab_min.name}}" id="{{form.magic_tab_min.id_for_label}}" min="1" max="9">
                <input type="text" id="{{form.magic_tab_min.id_for_label}}_text" form="none" size="1">
              </div>
              <div class="form-group">
                <label for="{{form.magic_tab_max.id_for_label}}" class="form-label mr-2">Magic Tab Max:</label>
                <input type="range" class="form-range" name="{{form.magic_tab_max.name}}" id="{{form.magic_tab_max.id_for_label}}" min="1" max="9">
                <input type="text" id="{{form.magic_tab_max.id_for_label}}_text" form="none" size="1">
              </div>
              <div class="form-group">
                <label for="{{form.speed_tab_min.id_for_label}}" class="form-label mr-2">Speed Tab Min:</label>
                <input type="range" class="form-range" name="{{form.speed_tab_min.name}}" id="{{form.speed_tab_min.id_for_label}}" min="1" max="9">
                <input type="text" id="{{form.speed_tab_min.id_for_label}}_text" form="none" size="1">
              </div>
              <div class="form-group">
                <label for="{{form.speed_tab_max.id_for_label}}" class="form-label mr-2">Speed Tab Max:</label>
                <input type="range" class="form-range" name="{{form.speed_tab_max.name}}" id="{{form.speed_tab_max.id_for_label}}" min="1" max="9">
                <input type="text" id="{{form.speed_tab_max.id_for_label}}_text" form="none" size="1">
              </div>
            </div>
