
        <div class="pt-2">
          <input type="button" class="btn btn-primary" id="spoiler_log_button" value="Show Spoiler Log" data-toggle="collapse" data-target="#spoiler_section" aria-expanded="false" aria-controls="spoiler_section">
	  <a class="btn btn-primary" href="{% url 'generator:spoiler_log' share_id %}" target="_blank">Download Spoiler Log</a>
        </div>

        <div class="tab-content collapse border border-primary rounded p-3" id="spoiler_section">

          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#spoiler_keys">Key Items</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#spoiler_chars">Characters</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#spoiler_bosses">Bosses</a></li>
          </ul>

          <!-- Key Items tab -->
          <div class="tab-pane fade show active" id="spoiler_keys">
            <table class="table" id="key_item_table">
              <tr>
                <th style="width:50%;">Location</th>
                <th>Key Item</th>
              </tr>
              {% for entry in spoiler_log.key_items %}
                <tr>
                  <td>{{entry.location}}</td>
                  <td>{{entry.key}}</td>
                </tr>
              {% endfor %}
            </table>
          </div>

          <!-- Characters tab -->
          <div class="tab-pane fade show" id="spoiler_chars">
            <table class="table" id="character_table">
              <tr>
                <th style="width:33%;">Location</th>
                <th style="width:33%;">Character</th>
                <th>Becomes</th>
              </tr>
              {% for entry in spoiler_log.characters %}
                <tr>
                  <td>{{entry.location}}</td>
                  <td>{{entry.character}}</td>
                  <td>{{entry.reassign}}</td>
                </tr>
              {% endfor %}
            </table>
          </div>

          <!-- Bosses tab -->
          <div class="tab-pane fade show" id="spoiler_bosses">
            <table class="table" id="boss_table">
              <tr>
                <th style="width:50%;">Location</th>
                <th>Boss</th>
              </tr>
              {% for entry in spoiler_log.bosses %}
                <tr>
                  <td>{{entry.location}}</td>
                  <td>{{entry.boss}}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div> <!-- End spoiler log div -->
